.expand-button-container {
    height: 4rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}:hover{
    background-color: rgb(18, 107, 196);
}
.expand-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 2.3rem;
    height: 1rem;
    padding: 0px 0.5rem;
}
.expand-button .line {
    background-color: rgb(246, 246, 248);
    height: 0.1rem;
}